html,
#root,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  padding: 1.2rem;
}

body {
  background: linear-gradient(to bottom, #008000, #ffffff);
}

.btn {
  background-color: #2EAC1B;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}