.headerContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.nav-link {
    text-decoration: none;
    padding: 5px 10px;
    color: #000;
    font-size: 1.3rem;
}

.nav-link:hover {
    background-color: #2EAC1B;
    border-radius: 10px;
}